<header>
  <h1 style="text-align: center;">Agregar imagen</h1>
</header>
<br>
<section class="form-contact">
  <div style="text-align: center;">
    <form [formGroup]="elemento" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>Etiqueta de la imagen</mat-label>
        <input matInput placeholder="Ej: Aviones" formControlName="gifTag">
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Dirección de la imagen</mat-label>
        <input matInput placeholder="Ej: https://..." formControlName="gifRoute">
      </mat-form-field>
      <br>
      <br>
      <div style="text-align: center;">
        <button mat-icon-button type="submit">
          <mat-icon>save</mat-icon>
          <span>Guardar</span>
        </button>
      </div>
    </form>
  </div>
</section>