table {
    width: 100%;
  }
  
.mat-form-field {
    font-size: 14px;
    width: 100%;
    align-items: center;
  }
  
td, th {
    width: 25%;
}

.mat-row:hover {
  cursor: pointer;
}

.items-center {
  text-align: center;
}